%h1 React Calendar

%h2 Appointments

%h3 Make a New Appointment

= form_for @appointment, url: root_path do |f|
  = f.text_field :title
  = f.text_field :appt_time
  = f.submit "Make Appointment"

- @appointments.each do |a|
  %h3= a.title
  %p= a.appt_time